In [59]:
import pandas as pd
import plotly.express as px
import plotly.graph_objs as go
import datetime as datetime

In [9]:
df = pd.read_csv('sources/house-data.csv')
df.head()

,Index,distict_name,member,party,prior_experience,education,assumed_office,residence,born
0,1,Alabama 1,Jerry Carl,Republican,Mobile County Commission,Florida Gateway College,2021,Mobile,"June 17, 1958 (age 64)"
1,2,Alabama 2,Barry Moore,Republican,Alabama House of Representatives,Enterprise State Community College (AS)\nAubur...,2021,Enterprise,"September 26, 1966 (age 55)"
2,3,Alabama 3,Mike Rogers,Republican,Alabama House of Representatives,"Jacksonville State University (BA, MPA)\nBirmi...",2003,Anniston,"July 16, 1958 (age 64)"
3,4,Alabama 4,Robert Aderholt,Republican,Haleyville Municipal Judge,University of North Alabama\nBirmingham–Southe...,1997,Haleyville,"July 22, 1965 (age 57)"
4,5,Alabama 5,Mo Brooks,Republican,Madison County Commissioner,Duke University (BA)\nUniversity of Alabama (JD),2011,Huntsville,"April 29, 1954 (age 68)"

In [52]:
pd.DataFrame(df.dtypes, columns=["DataType"])

                 DataType
Index               int64
district           object
name               object
party              object
prior_experience   object
education          object
assumed_office     object
residence          object
born               object
clean_born         object

In [27]:
df.columns

Index(['Index', 'district', 'name', 'party', 'prior_experience', 'education',
       'assumed_office', 'residence', 'born', 'clean_born'],
      dtype='object')

In [14]:
df.rename(columns={'distict_name': 'district'}, inplace=True)

In [22]:
#remove trailing space in column names
df.columns = df.columns.str.rstrip()

In [24]:
#how many rows
df.shape[0]

435

In [18]:
#how many rows missing data
df.isnull().sum().sort_values(ascending=False)

member               4
party                4
prior_experience     4
education            4
assumed_office       4
residence            4
born                 4
Index                0
district             0
dtype: int64

In [ ]:
strValue = strValue.split(ch, 1)[0]

In [41]:
df['clean_born'] = df['born'].astype('|S')

In [36]:
df['clean_born'] = df['clean_born'].astype('str')

In [38]:
df.head()

,Index,district,name,party,prior_experience,education,assumed_office,residence,born,clean_born
0,1,Alabama 1,Jerry Carl,Republican,Mobile County Commission,Florida Gateway College,2021,Mobile,"June 17, 1958 (age 64)","b'June 17, 1958 (age 64)'"
1,2,Alabama 2,Barry Moore,Republican,Alabama House of Representatives,Enterprise State Community College (AS)\nAubur...,2021,Enterprise,"September 26, 1966 (age 55)","b'September 26, 1966 (age 55)'"
2,3,Alabama 3,Mike Rogers,Republican,Alabama House of Representatives,"Jacksonville State University (BA, MPA)\nBirmi...",2003,Anniston,"July 16, 1958 (age 64)","b'July 16, 1958 (age 64)'"
3,4,Alabama 4,Robert Aderholt,Republican,Haleyville Municipal Judge,University of North Alabama\nBirmingham–Southe...,1997,Haleyville,"July 22, 1965 (age 57)","b'July 22, 1965 (age 57)'"
4,5,Alabama 5,Mo Brooks,Republican,Madison County Commissioner,Duke University (BA)\nUniversity of Alabama (JD),2011,Huntsville,"April 29, 1954 (age 68)","b'April 29, 1954 (age 68)'"

In [51]:
df['clean_born'] = df['born'].str.split('(').str[0]
df[['born', 'clean_born']].head()

                          born           clean_born
0       June 17, 1958 (age 64)       June 17, 1958
1  September 26, 1966 (age 55)  September 26, 1966
2       July 16, 1958 (age 64)       July 16, 1958
3       July 22, 1965 (age 57)       July 22, 1965
4      April 29, 1954 (age 68)      April 29, 1954

In [53]:
df['clean_born'] = pd.to_datetime(df['clean_born'])

In [54]:
pd.DataFrame(df.dtypes, columns=["DataType"])

                        DataType
Index                      int64
district                  object
name                      object
party                     object
prior_experience          object
education                 object
assumed_office            object
residence                 object
born                      object
clean_born        datetime64[ns]

In [60]:
def calculate_age(born):
    today = datetime.date.today()
    return today.year - born.year - ((today.month, today.day) < (born.month, born.day))

In [80]:
df['age'] = df['clean_born'].apply(calculate_age)
df.head()

,Index,district,name,party,prior_experience,education,assumed_office,residence,born,clean_born,age
0,1,Alabama 1,Jerry Carl,Republican,Mobile County Commission,Florida Gateway College,2021,Mobile,"June 17, 1958 (age 64)",1958-06-17,64.0
1,2,Alabama 2,Barry Moore,Republican,Alabama House of Representatives,Enterprise State Community College (AS)\nAubur...,2021,Enterprise,"September 26, 1966 (age 55)",1966-09-26,55.0
2,3,Alabama 3,Mike Rogers,Republican,Alabama House of Representatives,"Jacksonville State University (BA, MPA)\nBirmi...",2003,Anniston,"July 16, 1958 (age 64)",1958-07-16,64.0
3,4,Alabama 4,Robert Aderholt,Republican,Haleyville Municipal Judge,University of North Alabama\nBirmingham–Southe...,1997,Haleyville,"July 22, 1965 (age 57)",1965-07-22,57.0
4,5,Alabama 5,Mo Brooks,Republican,Madison County Commissioner,Duke University (BA)\nUniversity of Alabama (JD),2011,Huntsville,"April 29, 1954 (age 68)",1954-04-29,68.0

In [77]:
df['age'].isnull().head()

0    False
1    False
2    False
3    False
4    False
Name: age, dtype: bool

In [81]:
df['age']=pd.to_numeric(df['age'])
df.head()

,Index,district,name,party,prior_experience,education,assumed_office,residence,born,clean_born,age
0,1,Alabama 1,Jerry Carl,Republican,Mobile County Commission,Florida Gateway College,2021,Mobile,"June 17, 1958 (age 64)",1958-06-17,64.0
1,2,Alabama 2,Barry Moore,Republican,Alabama House of Representatives,Enterprise State Community College (AS)\nAubur...,2021,Enterprise,"September 26, 1966 (age 55)",1966-09-26,55.0
2,3,Alabama 3,Mike Rogers,Republican,Alabama House of Representatives,"Jacksonville State University (BA, MPA)\nBirmi...",2003,Anniston,"July 16, 1958 (age 64)",1958-07-16,64.0
3,4,Alabama 4,Robert Aderholt,Republican,Haleyville Municipal Judge,University of North Alabama\nBirmingham–Southe...,1997,Haleyville,"July 22, 1965 (age 57)",1965-07-22,57.0
4,5,Alabama 5,Mo Brooks,Republican,Madison County Commissioner,Duke University (BA)\nUniversity of Alabama (JD),2011,Huntsville,"April 29, 1954 (age 68)",1954-04-29,68.0

In [85]:
df[df['age'].isnull()]

,Index,district,name,party,prior_experience,education,assumed_office,residence,born,clean_born,age
7,8,Alaska at-large,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN
212,213,Minnesota 1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN
275,276,New York 19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN
279,280,New York 23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN

In [86]:
df["name"].fillna("None", inplace=True)

In [88]:
df["party"].fillna("None", inplace=True)

In [96]:
df["age"].fillna(0, inplace=True)

In [97]:
df[df['age'].isnull()]

Empty DataFrame
Columns: [Index, district, name, party, prior_experience, education, assumed_office, residence, born, clean_born, age]
Index: []

In [98]:
def round_age(age):
    return int(round(age))

In [99]:
df['age'] = df['age'].apply(round_age)
df.head()

,Index,district,name,party,prior_experience,education,assumed_office,residence,born,clean_born,age
0,1,Alabama 1,Jerry Carl,Republican,Mobile County Commission,Florida Gateway College,2021,Mobile,"June 17, 1958 (age 64)",1958-06-17 00:00:00,64
1,2,Alabama 2,Barry Moore,Republican,Alabama House of Representatives,Enterprise State Community College (AS)\nAubur...,2021,Enterprise,"September 26, 1966 (age 55)",1966-09-26 00:00:00,55
2,3,Alabama 3,Mike Rogers,Republican,Alabama House of Representatives,"Jacksonville State University (BA, MPA)\nBirmi...",2003,Anniston,"July 16, 1958 (age 64)",1958-07-16 00:00:00,64
3,4,Alabama 4,Robert Aderholt,Republican,Haleyville Municipal Judge,University of North Alabama\nBirmingham–Southe...,1997,Haleyville,"July 22, 1965 (age 57)",1965-07-22 00:00:00,57
4,5,Alabama 5,Mo Brooks,Republican,Madison County Commissioner,Duke University (BA)\nUniversity of Alabama (JD),2011,Huntsville,"April 29, 1954 (age 68)",1954-04-29 00:00:00,68