In [1]:
import pandas as pd
import plotly.express as px
import plotly.graph_objs as go
import datetime as datetime

In [3]:
df = pd.read_csv('sources/house-data.csv')
df.head()

,Index,distict_name,member,party,prior_experience,education,assumed_office,residence,born
0,1,Alabama 1,Jerry Carl,Republican,Mobile County Commission,Florida Gateway College,2021,Mobile,"June 17, 1958 (age 64)"
1,2,Alabama 2,Barry Moore,Republican,Alabama House of Representatives,Enterprise State Community College (AS)\nAubur...,2021,Enterprise,"September 26, 1966 (age 55)"
2,3,Alabama 3,Mike Rogers,Republican,Alabama House of Representatives,"Jacksonville State University (BA, MPA)\nBirmi...",2003,Anniston,"July 16, 1958 (age 64)"
3,4,Alabama 4,Robert Aderholt,Republican,Haleyville Municipal Judge,University of North Alabama\nBirmingham–Southe...,1997,Haleyville,"July 22, 1965 (age 57)"
4,5,Alabama 5,Mo Brooks,Republican,Madison County Commissioner,Duke University (BA)\nUniversity of Alabama (JD),2011,Huntsville,"April 29, 1954 (age 68)"

In [56]:
states = ["Alaska", "Alabama", "Arkansas", "Arizona", "California", "Colorado", "Connecticut", "Delaware", "Florida", "Georgia", "Hawaii", "Iowa", "Idaho", "Illinois", "Indiana", "Kansas", "Kentucky", "Louisiana", "Massachusetts", "Maryland", "Maine", "Michigan", "Minnesota", "Missouri", "Mississippi", "Montana", "North Carolina", "North Dakota", "Nebraska", "New Hampshire", "New Jersey", "New Mexico", "Nevada", "New York", "Ohio", "Oklahoma", "Oregon", "Pennsylvania", "Rhode Island", "South Carolina", "South Dakota", "Tennessee", "Texas", "Utah", "Virginia", "Vermont", "Washington", "Wisconsin", "West Virginia", "Wyoming"]

In [57]:
states_df = pd.DataFrame(states, columns=['name'])
states_df

              name
0           Alaska
1          Alabama
2         Arkansas
3          Arizona
4       California
5         Colorado
6      Connecticut
7         Delaware
8          Florida
9          Georgia
10          Hawaii
11            Iowa
12           Idaho
13        Illinois
14         Indiana
15          Kansas
16        Kentucky
17       Louisiana
18   Massachusetts
19        Maryland
20           Maine
21        Michigan
22       Minnesota
23        Missouri
24     Mississippi
25         Montana
26  North Carolina
27    North Dakota
28        Nebraska
29   New Hampshire
30      New Jersey
31      New Mexico
32          Nevada
33        New York
34            Ohio
35        Oklahoma
36          Oregon
37    Pennsylvania
38    Rhode Island
39  South Carolina
40    South Dakota
41       Tennessee
42           Texas
43            Utah
44        Virginia
45         Vermont
46      Washington
47       Wisconsin
48   West Virginia
49         Wyoming

In [6]:
pd.DataFrame(df.dtypes, columns=["DataType"])

                  DataType
Index                int64
distict_name        object
member              object
party               object
prior_experience    object
education           object
assumed_office      object
residence           object
born                object

In [27]:
df.columns

Index(['Index', 'district', 'name', 'party', 'prior_experience', 'education',
       'assumed_office', 'residence', 'born', 'clean_born', 'age'],
      dtype='object')

In [8]:
df.rename(columns={'distict_name': 'district'}, inplace=True)

In [26]:
df.rename(columns={'member': 'name'}, inplace=True)

In [9]:
#remove trailing space in column names
df.columns = df.columns.str.rstrip()

In [10]:
#how many rows
df.shape[0]

435

In [11]:
#how many rows missing data
df.isnull().sum().sort_values(ascending=False)

member              4
party               4
prior_experience    4
education           4
assumed_office      4
residence           4
born                4
Index               0
district            0
dtype: int64

In [12]:
strValue = strValue.split(ch, 1)[0]

NameError: name 'strValue' is not defined

In [13]:
df['clean_born'] = df['born'].astype('|S')

In [14]:
df['clean_born'] = df['clean_born'].astype('str')

In [15]:
df.head()

,Index,district,member,party,prior_experience,education,assumed_office,residence,born,clean_born
0,1,Alabama 1,Jerry Carl,Republican,Mobile County Commission,Florida Gateway College,2021,Mobile,"June 17, 1958 (age 64)","b'June 17, 1958 (age 64)'"
1,2,Alabama 2,Barry Moore,Republican,Alabama House of Representatives,Enterprise State Community College (AS)\nAubur...,2021,Enterprise,"September 26, 1966 (age 55)","b'September 26, 1966 (age 55)'"
2,3,Alabama 3,Mike Rogers,Republican,Alabama House of Representatives,"Jacksonville State University (BA, MPA)\nBirmi...",2003,Anniston,"July 16, 1958 (age 64)","b'July 16, 1958 (age 64)'"
3,4,Alabama 4,Robert Aderholt,Republican,Haleyville Municipal Judge,University of North Alabama\nBirmingham–Southe...,1997,Haleyville,"July 22, 1965 (age 57)","b'July 22, 1965 (age 57)'"
4,5,Alabama 5,Mo Brooks,Republican,Madison County Commissioner,Duke University (BA)\nUniversity of Alabama (JD),2011,Huntsville,"April 29, 1954 (age 68)","b'April 29, 1954 (age 68)'"

In [16]:
df['clean_born'] = df['born'].str.split('(').str[0]
df[['born', 'clean_born']].head()

                          born           clean_born
0       June 17, 1958 (age 64)       June 17, 1958
1  September 26, 1966 (age 55)  September 26, 1966
2       July 16, 1958 (age 64)       July 16, 1958
3       July 22, 1965 (age 57)       July 22, 1965
4      April 29, 1954 (age 68)      April 29, 1954

In [17]:
df['clean_born'] = pd.to_datetime(df['clean_born'])

In [18]:
pd.DataFrame(df.dtypes, columns=["DataType"])

                        DataType
Index                      int64
district                  object
member                    object
party                     object
prior_experience          object
education                 object
assumed_office            object
residence                 object
born                      object
clean_born        datetime64[ns]

In [19]:
#function to calculate age based on birthdate
def calculate_age(born):
    today = datetime.date.today()
    return today.year - born.year - ((today.month, today.day) < (born.month, born.day))

In [20]:
#apply age function
df['age'] = df['clean_born'].apply(calculate_age)
df.head()

,Index,district,member,party,prior_experience,education,assumed_office,residence,born,clean_born,age
0,1,Alabama 1,Jerry Carl,Republican,Mobile County Commission,Florida Gateway College,2021,Mobile,"June 17, 1958 (age 64)",1958-06-17,64.0
1,2,Alabama 2,Barry Moore,Republican,Alabama House of Representatives,Enterprise State Community College (AS)\nAubur...,2021,Enterprise,"September 26, 1966 (age 55)",1966-09-26,55.0
2,3,Alabama 3,Mike Rogers,Republican,Alabama House of Representatives,"Jacksonville State University (BA, MPA)\nBirmi...",2003,Anniston,"July 16, 1958 (age 64)",1958-07-16,64.0
3,4,Alabama 4,Robert Aderholt,Republican,Haleyville Municipal Judge,University of North Alabama\nBirmingham–Southe...,1997,Haleyville,"July 22, 1965 (age 57)",1965-07-22,57.0
4,5,Alabama 5,Mo Brooks,Republican,Madison County Commissioner,Duke University (BA)\nUniversity of Alabama (JD),2011,Huntsville,"April 29, 1954 (age 68)",1954-04-29,68.0

In [21]:
df['age'].isnull().head()

0    False
1    False
2    False
3    False
4    False
Name: age, dtype: bool

In [22]:
df['age']=pd.to_numeric(df['age'])
df.head()

,Index,district,member,party,prior_experience,education,assumed_office,residence,born,clean_born,age
0,1,Alabama 1,Jerry Carl,Republican,Mobile County Commission,Florida Gateway College,2021,Mobile,"June 17, 1958 (age 64)",1958-06-17,64.0
1,2,Alabama 2,Barry Moore,Republican,Alabama House of Representatives,Enterprise State Community College (AS)\nAubur...,2021,Enterprise,"September 26, 1966 (age 55)",1966-09-26,55.0
2,3,Alabama 3,Mike Rogers,Republican,Alabama House of Representatives,"Jacksonville State University (BA, MPA)\nBirmi...",2003,Anniston,"July 16, 1958 (age 64)",1958-07-16,64.0
3,4,Alabama 4,Robert Aderholt,Republican,Haleyville Municipal Judge,University of North Alabama\nBirmingham–Southe...,1997,Haleyville,"July 22, 1965 (age 57)",1965-07-22,57.0
4,5,Alabama 5,Mo Brooks,Republican,Madison County Commissioner,Duke University (BA)\nUniversity of Alabama (JD),2011,Huntsville,"April 29, 1954 (age 68)",1954-04-29,68.0

In [37]:
#check for null values and replace
df[df['residence'].isnull()]

Empty DataFrame
Columns: [Index, district, name, party, prior_experience, education, assumed_office, residence, born, clean_born, age]
Index: []

In [45]:
df.isnull().sum().sort_values(ascending=False)

Index               0
district            0
name                0
party               0
prior_experience    0
education           0
assumed_office      0
residence           0
born                0
clean_born          0
age                 0
dtype: int64

In [28]:
df["name"].fillna("None", inplace=True)

In [29]:
df["party"].fillna("None", inplace=True)

In [36]:
df["residence"].fillna("None", inplace=True)

In [39]:
df["prior_experience"].fillna("None", inplace=True)

In [40]:
df["education"].fillna("None", inplace=True)

In [41]:
df["assumed_office"].fillna(0, inplace=True)

In [43]:
df["born"].fillna(0, inplace=True)

In [44]:
df["clean_born"].fillna(0, inplace=True)

In [30]:
df["age"].fillna(0, inplace=True)

In [31]:
df[df['age'].isnull()]

Empty DataFrame
Columns: [Index, district, name, party, prior_experience, education, assumed_office, residence, born, clean_born, age]
Index: []

In [46]:
#remove trailing zeros from age column
def round_age(age):
    return int(round(age))

In [47]:
df['age'] = df['age'].apply(round_age)
df.head()

,Index,district,name,party,prior_experience,education,assumed_office,residence,born,clean_born,age
0,1,Alabama 1,Jerry Carl,Republican,Mobile County Commission,Florida Gateway College,2021,Mobile,"June 17, 1958 (age 64)",1958-06-17 00:00:00,64
1,2,Alabama 2,Barry Moore,Republican,Alabama House of Representatives,Enterprise State Community College (AS)\nAubur...,2021,Enterprise,"September 26, 1966 (age 55)",1966-09-26 00:00:00,55
2,3,Alabama 3,Mike Rogers,Republican,Alabama House of Representatives,"Jacksonville State University (BA, MPA)\nBirmi...",2003,Anniston,"July 16, 1958 (age 64)",1958-07-16 00:00:00,64
3,4,Alabama 4,Robert Aderholt,Republican,Haleyville Municipal Judge,University of North Alabama\nBirmingham–Southe...,1997,Haleyville,"July 22, 1965 (age 57)",1965-07-22 00:00:00,57
4,5,Alabama 5,Mo Brooks,Republican,Madison County Commissioner,Duke University (BA)\nUniversity of Alabama (JD),2011,Huntsville,"April 29, 1954 (age 68)",1954-04-29 00:00:00,68

In [101]:
s='|'.join(states)
print(s)

Alaska|Alabama|Arkansas|Arizona|California|Colorado|Connecticut|Delaware|Florida|Georgia|Hawaii|Iowa|Idaho|Illinois|Indiana|Kansas|Kentucky|Louisiana|Massachusetts|Maryland|Maine|Michigan|Minnesota|Missouri|Mississippi|Montana|North Carolina|North Dakota|Nebraska|New Hampshire|New Jersey|New Mexico|Nevada|New York|Ohio|Oklahoma|Oregon|Pennsylvania|Rhode Island|South Carolina|South Dakota|Tennessee|Texas|Utah|Virginia|Vermont|Washington|Wisconsin|West Virginia|Wyoming

In [112]:
df['test_state']=df.district.str.findall(s)
df.sample()

,Index,district,name,party,prior_experience,education,assumed_office,residence,born,clean_born,age,test_state
25,26,California 5,Mike Thompson,Democratic,California State Senate,Napa Valley College\nCalifornia State Universi...,1999,St. Helena,"January 24, 1951 (age 71)",1951-01-24 00:00:00,71,[California]

In [113]:
df.reset_index(inplace = True)
df.head()

,index,Index,district,name,party,prior_experience,education,assumed_office,residence,born,clean_born,age,test_state
0,0,1,Alabama 1,Jerry Carl,Republican,Mobile County Commission,Florida Gateway College,2021,Mobile,"June 17, 1958 (age 64)",1958-06-17 00:00:00,64,[Alabama]
1,1,2,Alabama 2,Barry Moore,Republican,Alabama House of Representatives,Enterprise State Community College (AS)\nAubur...,2021,Enterprise,"September 26, 1966 (age 55)",1966-09-26 00:00:00,55,[Alabama]
2,2,3,Alabama 3,Mike Rogers,Republican,Alabama House of Representatives,"Jacksonville State University (BA, MPA)\nBirmi...",2003,Anniston,"July 16, 1958 (age 64)",1958-07-16 00:00:00,64,[Alabama]
3,3,4,Alabama 4,Robert Aderholt,Republican,Haleyville Municipal Judge,University of North Alabama\nBirmingham–Southe...,1997,Haleyville,"July 22, 1965 (age 57)",1965-07-22 00:00:00,57,[Alabama]
4,4,5,Alabama 5,Mo Brooks,Republican,Madison County Commissioner,Duke University (BA)\nUniversity of Alabama (JD),2011,Huntsville,"April 29, 1954 (age 68)",1954-04-29 00:00:00,68,[Alabama]

In [116]:
df.drop('Index', inplace=True, axis=1)

In [117]:
df.head()

,district,name,party,prior_experience,education,assumed_office,residence,born,clean_born,age,test_state
0,Alabama 1,Jerry Carl,Republican,Mobile County Commission,Florida Gateway College,2021,Mobile,"June 17, 1958 (age 64)",1958-06-17 00:00:00,64,[Alabama]
1,Alabama 2,Barry Moore,Republican,Alabama House of Representatives,Enterprise State Community College (AS)\nAubur...,2021,Enterprise,"September 26, 1966 (age 55)",1966-09-26 00:00:00,55,[Alabama]
2,Alabama 3,Mike Rogers,Republican,Alabama House of Representatives,"Jacksonville State University (BA, MPA)\nBirmi...",2003,Anniston,"July 16, 1958 (age 64)",1958-07-16 00:00:00,64,[Alabama]
3,Alabama 4,Robert Aderholt,Republican,Haleyville Municipal Judge,University of North Alabama\nBirmingham–Southe...,1997,Haleyville,"July 22, 1965 (age 57)",1965-07-22 00:00:00,57,[Alabama]
4,Alabama 5,Mo Brooks,Republican,Madison County Commissioner,Duke University (BA)\nUniversity of Alabama (JD),2011,Huntsville,"April 29, 1954 (age 68)",1954-04-29 00:00:00,68,[Alabama]

In [121]:
df.to_csv('../us-house-117.csv')